body {
  background-color: #E5E5E5;
}

.site-header {
  position: relative;
  background-color: var(--color-text-primary);


  &__box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  gap: 65px;

  @media screen and (min-width: $desktop) {
    gap: 131px;
  }
  &__list {
    display: none;
    @include list;
    gap: 20.5px;

    @media screen and (min-width: $table) {
      display: flex;
    }
    @media screen and (min-width: $desktop) {
      gap: 30px;
    }
  }
  &__link {
    @include link;
    color: var(--color-white-primary);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    transition: color 200ms linear;

    &:hover,
    &:focus {
      color: var(--color-brand);
    }
  }
}

.header-contacts {
  @include list;
  display: none;
  color: var(--color-white-primary);

  @media screen and (min-width: $table) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    gap: 43px;
  }

  &__link {
    @include link;
    color: var(--color-white-primary);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    transition: color 200ms linear;

    &:hover,
    &:focus {
      color: var(--color-brand);
    }
  }
}

