.section {
  padding-top: 84px;
  padding-bottom: 84px;
  &__tagline {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;

    &::before {
      content: '';
      display: block;
      height: 1px;
      width: 60px;
      background-color: var(--color-title-primary);
    }

    &--light {
      color: var(--color-tagline-light);
      &::before {
        background-color: var(--color-tagline-light);
      }
    }
  }
  &__title {
    max-width: 306px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--color-title-primary);

    @media screen and (min-width: $desktop) {
      max-width: 100%;
      font-size: 42px;
      line-height: 1.16;
    }

    &--light {
      color: var(--color-white-primary);
    }

    &--mb {
      margin-bottom: 44px;
    }

    &--big {
      max-width: 100%;
      font-size: 40px;
      line-height: 1.175;
      text-align: left;
    }
  }
  &__text {
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.02em;
    color: var(--color-text-primary);

    @media screen and (min-width: $table) {
      font-size: 18px;
      line-height: 1.66;
    }

    // @media screen and (min-width: $desktop) {
    //   margin-bottom: 42px;
    // }

    &--big {
      font-size: 18px;
      line-height: 1.67;
    }
    &--mb {
      margin-bottom: 44px;
    }
  }

  &__info {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    @media screen and (min-width: $table) {
      margin-bottom: 77px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 42px;
    }
  }
}
