.social-networks {
  @include list;
  display: flex;
  gap: 10px;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: var(--color-white-primary);
    border-radius: 50%;
    fill: var(--color-title-primary);

    &:hover, &:focus {
        fill: var(--color-brand);
    }
  }
}
