.team {
   &__list {
    @include list;
    display: flex;
    flex-direction: column;
    gap: 64px;
    @media screen and (min-width: $desktop) {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__photo {
    margin-bottom: 30px;
  }

  &__box {
    width: 206px;
    margin: 0 auto;
    text-align: center;
  }

  &__name {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 1.38;
    letter-spacing: 0.02em;
    color: var(--color-title-primary);
  }

  &__profession {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.35;
    letter-spacing: 0.02em;
    color: var(--color-brand);
  }
}

.team .container {
  @media screen and (min-width: $table) and (max-width: 1199px){
    padding: 0 159px;
      }
}
