:root {
  --color-white-primary: #ffffff;
  --color-text-primary: #555555;
  --color-title-primary: #303030;
  --color-brand: #ff6c00;
  --color-tagline-light: rgba(157, 164, 189, 0.6);
  --color-hero-text: #9da4bd;
  --background-color-gray: #f7f7f7;
}
