:root {
  --color-white-primary: #ffffff;
  --color-text-primary: #555555;
  --color-title-primary: #303030;
  --color-brand: #ff6c00;
  --color-tagline-dark: rgba(157, 164, 189, 0.6);
  --background-color-gray: #F7F7F7;
}
